#wrapped+.input-group-addon {
    margin: 0;
    padding: 0;
    min-width: 200px;
    border: none;
    background: transparent;
}
#wrapped+.input-group-addon>.form-control {
    border-radius: 0;
    border-left: none;
}

/* CSS below is for centering the div in the page, you only need what is above this line */

body {
    min-height: 100vh;
}
body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #212224;
}
body > .form-group {
    width: 50vw;
}
button#refresh {
    float: right;
}
.top-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.top-head h1 {
    color: #555;
    font-family: "Nunito Sans", "Helvetica Neue", sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
}
#printer input[type="text"] {
    border-radius: 0;
    background: transparent;
    border: none;
    box-shadow: none;
    font-weight: 600;
}
#wrapped+.input-group-addon>.form-control,
#printer select {
    box-shadow: none;
    border-radius: 0;
    border: 1px solid #ccc;
    background-color: #fff;
}
.justify-content-end {
    display: flex;
    justify-content: flex-end;
}
button.btn-primary {
    border-radius: 0;
    text-transform: uppercase;
    font-size: 11px;
    padding: 8px 20px;
    outline: none;
    border: none;
}
button#saveData {
    margin-top: 15px;
}
.form-control:focus {
    border-color: transparent;
}
#wrapped+.input-group-addon select option {
    border-radius: 0;
}
.container {
    max-width: 900px;
    background: #fff;
    padding: 15px 10px;
    border-radius: 0px;
}
.save-btn-wrap {
    border-top: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 0;
}
.d-flex {display: flex;}
.justify-between {justify-content: space-between;}
.full-width, .input-row {width: 100%; max-width: 100%;}
.no-radius {border-radius: 0;}
.pl-0 {padding-left: 0!important;}
input.no-radius {box-shadow: none;}
.label-group {font-weight: 600;}
.label-group, .frm-input-wrap {display: flex;width:100%;background-color: #eee;padding: 5px 0;align-items: center;}
.label-group {padding: 0;}
.mwt {background-color: #ccc; padding: 3px 0;}
.mwb {background-color: #ddd;padding: 3px 0;}
.frm-input-wrap {background-color: transparent;}
.label-group .col,
.frm-input-wrap .col {width: 14%;text-align: center;font-size: 11px;text-transform: uppercase;}
.margin-wrap {display: flex;width:100%;justify-content: space-between;}
.margin-wrap .col {width: 25%;padding: 0;}
.full-width {width:100% !important;}
.form-control:focus {box-shadow: none;border-color: #ccc;}
select.form-control, 
select.form-control option {border-radius: 0!important;padding: 3px 0;}
.frm-input-wrap {text-transform: capitalize!important;}
.printer-name {font-size: 13px!important;text-transform: capitalize!important;}
.frm-input-wrap input.col {font-size: 14px!important;text-transform: capitalize;}





@media (max-width: 767px) {
    .container,
    #printer input[type="text"],
    #wrapped+.input-group-addon {
        width: 100%;
    }
    .input-group {
        display: flex;
        flex-flow: row wrap;
    }
    #printer input[type="text"] {
        margin-bottom: 10px;
    }
}
#save-msg {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    padding-right: 30px;
    margin-top: 15px;
}